
.wrap-chat{
    width: 500px;
    margin-top: ;

}

#chatbox{
    height: 350px;
    overflow-y: scroll;
    font-family: 'Comfortaa-Regular';
    font-size: 1.2em;
}

#rdv{
    margin-top: 30px;
    padding-bottom: 10px;
}

#bulle{
    padding:10px;
    border-radius: 10px;
    background-color: #FF7036;

}

#toHide{
    background-color: #EBEBEB;
    width:600px;
    padding:20px;
    margin-top: 60px;
}
