
.wrap-chat{
    width: 600px;
    margin-top: ;

}

#chatbox{
    height: 350px;
    overflow-y: scroll;
    font-family: 'Comfortaa-Regular';
    font-size: 1.2em;
}

#rdv{
    margin-top: 30px;
    padding-bottom: 10px;
}
