@font-face {
    font-family: 'MADEEvolveSansMedium';
    src: url('fonts/MADEEvolveSansMedium.ttf');
}


@font-face {
    font-family: 'RealWorld';
    src: url('fonts/RealWorld.ttf');
}

@font-face {
    font-family: 'Comfortaa-Bold';
    src: url('fonts/Comfortaa-Bold.ttf');
}

@font-face {
    font-family: 'Comfortaa-Regular';
    src: url('fonts/Comfortaa-Regular.ttf');
}

body {
  font-family: 'MADEEvolveSansMedium';
  font-size: 12px;!/
}

h1 {
  font-family: 'Comfortaa-Bold';
  font-size: 2em;
}

h2 {
  font-family: 'Comfortaa-Bold';
  font-size: 18px;
  color: #FF7036;
}

h3 {
  font-family: 'Comfortaa-Regular';
  font-size: 14px;
  color: #E88426;
}

a {
  text-decoration: none;
}

/* main-page */
#left-menu {
    margin:150px 0 0 200px;
    padding-right: 30px;
    padding-top: 50px;
    height: 400px;
    width: 150px;
    border-right: solid 2px #E83726;
    line-height: 50px;
    display: inline-block;
}

#main-content{
  display: inline-block;
  width: 800px;
  margin-top: 150px;
  margin-left: 70px;
  vertical-align: top;
}

#top-bar{
  position: absolute;
  width: 100%;

  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: #E83726;
}


#top-bar_wl{
    display: inline-block;
    margin-left: 70px;
}
#top-bar_wl img{
    width: 100px;
    height: auto;
}

#top-bar_wc {
    display: inline-block;
    margin-left: 170px;
    vertical-align: top;
    font-family: 'Comfortaa-Regular';
    font-size: 1.8em;
    color: white;

}

#top-bar_wr {
    display: inline-block;
    margin-left: 100px;
    vertical-align: bottom;
    transform: translateY(-25%);

}

#top-bar_wr p {
    font-family: 'Comfortaa-Regular';
    font-size: 1.8em;
    color: white;

}

/* connection page */
#only-content{
  height: 100%;
  width: 20%;
  padding: 5%;
  position: relative;
  text-align: center;
  margin: auto;
  margin-top: 7%;
}

#only-content > img {
  height: 50%;
  width: 50%;
}

#only-content > input {
  display: block;
  height: 50%;
  margin: 1% auto;
}

#only-content > a {
  font-size: 80%;
}

.menu_on {
  color: #FF7036;
}

.menu_off {
  color: #E83726;
}

/* competence page !! */
.brick {
  background: cornsilk;
  border-width: 2px;
  border-style: solid;
  margin-bottom: 2%;
  border-color: bisque;
  border-radius: 15px;
  padding: 1%;
  position: relative;
}

.brick > img {
  position: absolute;
  height: 80%;
  width: auto;
}

.brick > h1, h2, p {
    position: relative;
    left: 10%;
}

/* rendez-vous page !! */
.tile {
  position: relative;
  float: left;
  width: 30%;
  height: auto;
  background-color: lavenderblush;
  margin: 1%;
  border-width: thin;
  border-style: solid;
  border-color: antiquewhite;
}

.tile > img {
  position: absolute;
  height: 30%;
  width: auto;
  right: 0%;
  bottom: 0%;
}

.tile > h1 {
  position: relative;
  text-align: center;
  color: burlywood;
}
