@font-face {
    font-family: 'MADEEvolveSansMedium';
    src: url('fonts/MADEEvolveSansMedium.ttf');
}


@font-face {
    font-family: 'RealWorld';
    src: url('fonts/RealWorld.ttf');
}

@font-face {
    font-family: 'Comfortaa-Bold';
    src: url('fonts/Comfortaa-Bold.ttf');
}

@font-face {
    font-family: 'Comfortaa-Regular';
    src: url('fonts/Comfortaa-Regular.ttf');
}

p, body {
  font-family: 'MADEEvolveSansMedium';
  font-size: 12px;
}

h1 {
  font-family: 'Comfortaa-Bold';
  font-size: 2em;
}

h2 {
  font-family: 'Comfortaa-Bold';
  font-size: 18px;
  color: #FF7036;
}

h3 {
  font-family: 'Comfortaa-Regular';
  font-size: 14px;
  color: #E88426;
}


/* main-page */
#left-menu {
  position: absolute;
  top: 15%;
  left: 0%;
  width: 16%;
  height: 76%;
  padding: 2%;
  text-align: right;
}

#main-content{
  position: absolute;
  width: 71%;
  height: auto;
  top: 15%;
  left: 20%;
  padding: 2%;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}

#top-bar{
  position: absolute;
  width: 100%;
  height: 15%;
  top: 0%;
  left: 0%;
  margin: 0%;
  padding: 0%;
  display: inline-block;
  background-color: #E83726;
}

#top-bar_wl {
  position: relative;
  height: 100%;
  width: 25%;
  float: left;
  text-align: left;
}

#top-bar_wc {
  position: relative;
  height: 100%;
  width: 50%;
  float: left;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: 'OpenSans-light';
  font-size: 200%;
}

#top-bar_wr {
  position: relative;
  height: 100%;
  width: 25%;
  float: left;
  text-align: left;
  margin-top: 2%;
  margin-bottom: 2%;
}

/* connection page */
#only-content{
  height: 100%;
  width: 20%;
  padding: 5%;
  position: relative;
  text-align: center;
  margin: auto;
  margin-top: 7%;
}

#only-content > img {
  height: 50%;
  width: 50%;
}

#only-content > input {
  display: block;
  height: 50%;
  margin: 1% auto;
}

#only-content > a {
  font-size: 80%;
}

.menu_on {
  color: #FF7036;
}

.menu_off {
  color: #E83726;
}

/* competence page !! */
.brick {
  background: cornsilk;
  border-width: 2px;
  border-style: solid;
  margin-bottom: 2%;
  border-color: bisque;
  border-radius: 15px;
  padding: 1%;
  position: relative;
}

.brick > img {
  position: absolute;
  height: 80%;
  width: auto;
}

.brick > h1, h2, p {
    position: relative;
    left: 10%;
}
